.modal {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000004d;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__title {
  font-size: 16px;
  line-height: 20px;
  max-width: fit-content;
  margin: 0 0 24px 0;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  max-height: 16px;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 0;
  line-height: 20px;
  width: 440px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__legend {
  font-weight: 700;
  margin-bottom: 12px;
}

.modal__label_type_radio {
  display: flex;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__label_type_radio:has(input[type="radio"]:checked) {
  color: #000;
}

.modal__radio-input {
  margin-right: 8px;
  line-height: 20px;
}

.modal__submit {
  line-height: 20px;
  color: #fff;
  background-color: #000;
  margin-top: 24px;
  max-width: 124px;
  padding: 8px 16px;
  border: 0;
  border-radius: 4px;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 550px) {
  .modal__content {
    max-width: 375px;
  }

  .modal__input {
    width: 319px;
  }
}

@media screen and (max-width: 375px) {
  .modal__content {
    max-width: 375px;
  }
}
