.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000004d;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 36px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__title {
  margin: 0;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}
