.toggle-switch {
  position: relative;
  min-width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  cursor: pointer;
  overflow: hidden;
  color: white;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.2s;
}

.toggle-switch__text {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 4px;
}
.toggle-switch__text_F {
  left: 8px;
}

.toggle-switch__text_C {
  right: 7px;
}

.toggle-switch__text_color_white {
  color: white;
}

/* Targeting .toggle-switch__circle when checkbox is checked */
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

@media screen and (max-width: 750px) {
  .toggle-switch {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .toggle-switch {
    margin: 0 auto 40px;
  }
  .toggle-switch__circle {
    transition: 0.5ms;
  }
}
