.card {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 323px;
  max-height: 326px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card:hover {
  cursor: pointer;
}

.card__name {
  position: absolute;
  top: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__image {
  width: 100%;
}

/* @media screen and (max-width: 550px) {
  .card {
  }
  .card__image {
    height: 100%;
  } */
