.card {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 323px;
  height: 326px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card:hover {
  cursor: pointer;
}

.card__parent {
  position: relative;
  display: flex;
  width: 323px;
  /* justify-content: center; */
  gap: 10px;
}
.card__image {
  min-width: 323px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__name-like-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  right: 0px;
  justify-content: center;
  top: 15px;
  gap: 10px;
}

.card__name {
  top: 17px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
}

.card__like-btn {
  width: 18px;
  height: 15px;
}

@media screen and (max-width: 375px) {
  .card__name {
    top: 5px;
  }
}
