.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  position: absolute;
  top: 20px;
  left: 13px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  margin: 0;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .weather-card {
    min-width: 164px;
  }
}
