.page {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 32px;
}

@media screen and (max-width: 430px) {
  .page {
    min-width: 375px;
  }
  .page__content {
    padding: 18px 16px 20px;
  }
}
