.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 40px auto 34px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

@media screen and (max-width: 1440px) {
  .cards__list {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
