.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding: 32px 0px 28px;
}

.header__date-and-location {
  margin: 11px 0 5px 24px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 8px 0 8px 20px;
  padding: 0;
  border: 0;
  font-weight: 700;
  line-height: 24px;
}
.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0 0 0 20px;
  line-height: 100%;
}
