.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding: 32px 0px 28px;
}

.header__date-and-location {
  margin: 11px 0 5px 24px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 8px 0 8px 20px;
  padding: 0;
  border: 0;
  font-weight: 700;
  line-height: 24px;
}
.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0 0 0 20px;
  line-height: 100%;
}

@media screen and (max-width: 375px) {
  .header {
    max-width: 343px;
    max-height: 44px;
    /* min-width: 343px; */
    padding: 0;
  }

  /* .header__date-and-location {
    visibility: hidden;
  }

  .header__alternative {
    visibility: visible;
  }

  .header__add-clothes-btn {
    visibility: hidden;
  }

  .header__username {
    visibility: hidden;
  }

  .header__avatar {
    visibility: hidden;
  } */

  /* .header__profile {
    max-width: 44px;
    width: 100%;
    position: absolute;
    top: 18px;
    right: 16px;
  } */
}
