.modal__content_type_image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.modal__close_type_preview {
  position: absolute;
  top: 24px;
  right: 24px;
}

/* .modal__closeBtn {
  min-width: 20px;
} */

.modal__dark-menu-closeBtn {
  visibility: hidden;
  display: none;
}

.modal__image {
  display: block;
  max-height: 498px;
  max-width: 498px;
}

.modal__footer {
  position: relative;
  background: #fff;
  margin: 0;
  padding: 20px 0 32px 32px;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 12px 0 0 0;
}

.modal__delete-item-btn {
  position: absolute;
  top: 24.6px;
  right: 33.5px;
  color: #ff4d00;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-item-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .modal__image {
    max-width: 363px;
  }
}

@media screen and (max-width: 550px) {
  .modal__close_type_preview {
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .modal__closeBtn {
    visibility: hidden;
    display: none;
  }
  .modal__is-opened .modal__dark-menu-closeBtn {
    visibility: visible;
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .modal__content_type_image {
    border-radius: 12px;
  }

  .modal__image {
    max-width: 343px;
  }
}
