.header__profile-change-data {
  visibility: hidden;
  display: none;
}

.sidebar__user-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  min-width: 229px;
  width: 100%;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
  .sidebar__user-container {
    justify-content: flex-start;
    min-width: 150px;
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    gap: 20px;
  }

  .sidebar__avatar {
    align-self: flex-start;
  }

  .sidebar__username {
    font-size: 24px;
    font-weight: 700px;
    margin: 0 0 12px 0;
  }
  .header__profile-change-data {
    flex-direction: column;
    font-size: 20px;
    line-height: 100%;
    visibility: visible;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    margin: 8px 0 0 0;
  }
}
