.sidebar__user-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  min-width: 229px;
  width: 100%;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
}
