.footer {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin: 171px auto 0;
}

.footer__surname {
  margin: 0px;
}

.footer__year {
  margin: 0px;
}

@media screen and (max-width: 750px) {
  .footer {
    margin: 50px auto 0;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 0px;
    margin: 40px auto 0;
  }
}
