.clothes-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.clothes-section__container {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.clothes-section__text {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.clothes-section__add-clothes-btn {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
}

.clothes-section__add-clothes-btn:hover {
  cursor: pointer;
}

.clothes-section__cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 550px) {
}
